.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #000000;
}

.btn-group {
  
  display: flex;
}

.btn {
  padding: 8px 12px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #000000;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }

  .btn-group {
    width: 100%;
    justify-content: center;
  }

  .btn {
    width: 100%;
    margin-top: 5px;
  }
}